extensions:
    # Core extensions
    nettrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension
    nettrine.cache: Nettrine\Cache\DI\CacheExtension
    
    # DBAL
    nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
    nettrine.dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension(%consoleMode%)
    
    # ORM
    nettrine.orm: Nettrine\ORM\DI\OrmExtension
    nettrine.orm.console: Nettrine\ORM\DI\OrmConsoleExtension(%consoleMode%)
    nettrine.orm.attributes: Nettrine\ORM\DI\OrmAttributesExtension

    # Konzole
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

# Konfigurace anotací
nettrine.annotations:
    debug: %debugMode%


# Konfigurace DBAL
nettrine.dbal:
    debug:
        panel: %debugMode%
    connection:
        driver: pdo_mysql
        host: localhost
        dbname: eclipse
        user: root
        password: ''
        charset: utf8mb4
        serverVersion: 5.7

# Konfigurace ORM
nettrine.orm:
    entityManagerDecoratorClass: App\Doctrine\EntityManagerDecorator
    configuration:
        proxyDir: %tempDir%/cache/doctrine/proxy
        autoGenerateProxyClasses: %debugMode%
        proxyNamespace: App\Proxies

# Konfigurace atributů
nettrine.orm.attributes:
    mapping:
        App\Entity: %appDir%/Entity