# Registrace extensions
extensions:
    # Doctrine
    nettrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension
    nettrine.cache: Nettrine\Cache\DI\CacheExtension
    nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
    nettrine.dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension(%consoleMode%)
    nettrine.orm: Nettrine\ORM\DI\OrmExtension
    nettrine.orm.console: Nettrine\ORM\DI\OrmConsoleExtension(%consoleMode%)
    nettrine.orm.attributes: Nettrine\ORM\DI\OrmAttributesExtension

# Základní Doctrine
nettrine.annotations:
    debug: %debugMode%



# Doctrine DBAL
nettrine.dbal:
    debug:
        panel: %debugMode%
    connection:
        driver: pdo_mysql
        host: localhost
        dbname: eclipse
        user: root
        password: ''
        charset: utf8mb4
        serverVersion: '8.0'
        types:
            uuid_binary: Ramsey\Uuid\Doctrine\UuidBinaryType

# Doctrine ORM
nettrine.orm:
    configuration:
        proxyDir: %tempDir%/cache/doctrine/proxy
        autoGenerateProxyClasses: %debugMode%
        proxyNamespace: App\Proxies
        metadataDriverImpl: attributes
        entityNamespaces:
            - App\Entity

# Doctrine ORM Attributes
nettrine.orm.attributes:
    mapping:
        App\Entity: %appDir%/Entity

